---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Data array
const pageData = [
  {
    categoryTitle: "Static",
    links: [
      {
        sectionTitle: "Landing Pages",
        links: [
          {
            title: "Home",
            url: "/",
          },
          {
            title: "Home 2",
            url: "/index-two",
          },
          {
            title: "About",
            url: "/about",
          },
          { title: "404", url: "/404" },
        ],
      },
      {
        sectionTitle: "Forms ",
        links: [
          {
            title: "Contact",
            url: "/contact",
          },
          {
            title: "Signin",
            url: "/sign-in",
          },
          {
            title: "Sign up",
            url: "/sign-up",
          },
        ],
      },
      {
        sectionTitle: "System Pages",
        links: [
          { title: "Links", url: "/system/links" },
          { title: "Buttons", url: "/system/buttons" },
          { title: "Colors", url: "/system/colors" },
          { title: "Typography", url: "/system/typography" },
          {
            title: "License",
            url: "https://lexingtonthemes.com/legal/license",
          },
          {
            title: "Docs",
            url: "https://lexingtonthemes.com/documentation",
          },
        ],
      },
    ],
  },
  {
    categoryTitle: "Content Collection",
    links: [
      {
        sectionTitle: "Guides",
        links: [
          {
            title: "Home",
            url: "/guides",
          },
          {
            title: "Details",
            url: "/guides/1",
          },
          { title: "Tag index", url: "/guides/tags" },
          {
            title: "Tag Category",
            url: "/guides/tags/health",
          },
          { title: "RSS", url: "/rss.xml" },
        ],
      },
      {
        sectionTitle: "Support",
        links: [
          {
            title: "Home",
            url: "/support",
          },
          {
            title: "Details",
            url: "/support/1",
          },
        ],
      },
      {
        sectionTitle: "Legal",
        links: [
          {
            title: "Details",
            url: "/infopages/terms",
          },
        ],
      },
      {
        sectionTitle: "Integrations",
        links: [
          {
            title: "Home",
            url: "/integrations",
            ariaLabel: "link to integrations home",
          },
          {
            title: "Details",
            url: "/integrations/1",
            ariaLabel: "link to integrations details",
          },
        ],
      },
      {
        sectionTitle: "Changelog",
        links: [
          {
            title: "Home",
            url: "/changelog",
            ariaLabel: "link to changelog home",
          },
          {
            title: "Details",
            url: "/changelog/1",
            ariaLabel: "link to changelog details",
          },
        ],
      },
      {
        sectionTitle: "Team",
        links: [
          {
            title: "Home",
            url: "/team",
            ariaLabel: "link to team home",
          },
          {
            title: "Details",
            url: "/team/jordan-wells",
            ariaLabel: "link to team details",
          },
        ],
      },
      {
        sectionTitle: "Couples",
        links: [
          {
            title: "Home",
            url: "/couples",
            ariaLabel: "link to couples home",
          },
          {
            title: "Details",
            url: "/couples/1",
            ariaLabel: "link to couples details",
          },
        ],
      },
    ],
  },
];
---

<BaseLayout noindex={true} title="System Overview | vows.you">
  <section>
    <Wrapper variant="standard" class="pt-32 pb-4">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-serif font-medium tracking-tight text-black"
      >
        Overview
      </Text>
      <div class="flex flex-col mt-12 gap-12">
        {
          pageData.map((category) => (
            <>
              <div>
                <Text
                  tag="h2"
                  variant="textLG"
                  class="font-serif font-medium text-base-900"
                >
                  {category.categoryTitle}
                </Text>
                <div class="mt-4 gap-y-8 gap-x-4 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 ">
                  {category.links.map((section) => (
                    <div>
                      <Text tag="h3" variant="textBase" class="text-base-900">
                        {section.sectionTitle}
                      </Text>
                      <div class="flex flex-col mt-4 text-sm gap-1 text-base-500">
                        {section.links.map((link) => (
                          <a
                            class="hover:text-base-900"
                            title={link.ariaLabel}
                            href={link.url}
                          >
                            {link.title}
                          </a>
                        ))}
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            </>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
